@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #c031af;
    background: linear-gradient(321deg, #b43aa6 0%, #fd1dab 50%, #fccd45 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}
.main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    align-items: center;
    height: 100px;
    margin-top: 20%;
}

.label {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 0.8rem;
    color: #fff;
}

.submit-button {
    padding: 5px 10px;
    background: #fff;
    border: none;
    border-radius: 4px;
    transition-duration: 0.3s;
    cursor: pointer;
    margin-top: 18px;
    margin-left: 15px;
}

.submit-button:hover {
    background: #3dc33e;
    color: #fff;
}

.input {
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
}

.input:focus {
    outline-width: 2px;
    outline-style: solid;
    animation: blink 3s ease-in-out infinite;
}

.names {
    font-weight: 500;
    color: #fff;
    transition-duration: 0.3s;
}

.names:hover{
    cursor: pointer;
    color: #b40101b6;
}

.submit-names {
    text-align: center;
}




/* animation frames */

@keyframes blink {
    0% {
      outline-color: #ffff0042;
    }
    25% {
        outline-color: #ffff00b0;
    }
    60% {
        outline-color: #ffff00d7;
    }
    80% {
        outline-color: #ffff0096;
    }
    100% {
        outline-color: #ffff0000;
    }
  }